# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.venv

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs and databases
*.log
*.db
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Model files - user should provide their own
# *.pt
# *.pth
# *.engine
# *.onnx
# *.weights

# Dataset files - user should provide their own
model_files/hardware_dataset/
model_files/*.yaml # If they are dataset specific, not general config
# Add other specific dataset paths if necessary

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp